@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 55px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}
.brand img {
  width: 38px;
  padding: 0 6px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.container {
  min-height: 60vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  width: 70%;
  margin: 23px auto;
  border-radius: 10px;
  padding: 25px;
  background-image: url(bg2.jpg);
}
.bottom {
  position: sticky;
  height: 100px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  margin-top: 12px;
}
.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 80vw;
  cursor: pointer;
}
.songItemContainer {
  margin-top: 20px;
}
.songItem {
  height: 30px;
  display: flex;
  background-color: white;
  width: 100%;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.songItem img {
  width: 33px;
  margin: 0 40px;
}
.timestamp {
  margin: 0 20px;
}
.songInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
